@font-face {
    font-family: "Cascadia Code";
    src: url(../fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf);
}
body{
    margin: 0;
    background-image: url(bg.png);
    background-size: 100%;
    font-family: "Cascadia Code";
    color: #DF4444;
}
header{
    background-color: #121212;
    display: flex;
    color: #DF4444;
    padding: 0 20px;
}
nav {
    display: flex;
}
button{
    background-color: #121212;
    color: #DF4444;
    font-family: "Cascadia Code";
    border: none;
    font-size: 2.2vh;
    margin: 0 1vw;
    height: 100%;
    padding: 10%;
}
button:hover{
    background-color: #1C1C1C;
}
section{
    padding: 2vh 2vw;  
}
.text{
    border-bottom: solid 2px #DF4444;
    background-color: #1C1C1C;
}
.gallery, .gallery2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    height: 50vh;
    margin: 20px;
}
#long{
    height: 25vh;
}
img{
    border-radius: 5px;
    border: solid 2px #121212;
    background-color: #1C1C1C;
}
.gallery2 img{
    margin: 0 10px 10px 0;
    height: 50vh;
    
}
div img{
    aspect-ratio: auto;
    height: 95%;    
}
div p{
    font-size: smaller;
    max-width: 300px;
    margin: 1%;
}